venv
passwords.py
pidor-of-the-day-af3dd140b860.json
pidor-of-the-day-5880592e7067.json
coeffs_from_api.json
Рассчет экономики.xlsx
loggs.log
errors.log
tables/Отчет о поставках.xlsx
tables/report_feedbacks.xlsx
tables/список моих складов.xlsx
tables/список складов wb.xlsx
tables/список товаров.xlsx
tables/Тарифы на возвраты.xlsx
tables/Тарифы на короб.xlsx
tables/Тарифы на монопалет.xlsx
tables/report_questions.xlsx
tables/Коэффициенты складов.xlsx
users.db*
__pycache__/
